.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}

.direction{
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: black;
    background-color: gainsboro;
}

.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: black;
}

.direction:hover{
    background-color: lightblue;
    color: cadetblue;
}

.TARTUFFE{
    color: blue;
}
.DORINE{
    color: crimson;
}
.LAURENT{
    color: darkgreen;
}
table,td,th{
    padding: 2px;
    margin: 1px solid black;
    border: 1px solid black;

}
td{
    color: green;
    margin: 1px solid black;
    text-align: left;
}
th{
    color: rgb(192, 39, 39);
    margin: 1px solid black;
    text-align: center;
}